[submodule "themes/hugo-uilite"]
	path = themes/hugo-uilite
	url = https://github.com/uicardioHQ/hugo-uilite.git
[submodule "hugo-uilite"]
	path = hugo-uilite
	url = https://github.com/uicardioHQ/hugo-uilite.git
